/*estilo en el body*/
body {
    color:lightgoldenrodyellow;
    background-color:rgb(228, 16, 228)}

    p,
    li{
        color:wheat;
    }


    h1{
        font-size: 50px;
        font-family: 'Itim', cursive;
    }

    h3{
        font-size:35px;
        font-family: 'Itim', cursive;
    }
    
    img{
        width: 500px;
        height:350px;
        border-style: double dotted ridge;
        border-width: 10px;
        border-color: indianred;
        margin: 20px;
        padding: 20px;
    }
    